<div class="petition">
    <img class="top-img" src="dolde2.png" alt="hops">
    <h3>Login</h3>
    {{#if error}}
    <div class="error">Oops... Sorry! Something went wrong!</div>
    {{/if}}
</div>




<div class="container">
    <form method="POST" id="login">

        <div class="row">
            <p>Email</p>
            <input type="text" name="email" value="" placeholder="E-Mail">
        </div>
        <div class="row">
            <p>Password</p>
            <input type="password" name="password" value="" placeholder="Password">
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" name="submit">LOG IN</button>
        <p><a class="beer-links" href="/registration">Register</a></p>

    </form>
</div>