<div class="petition">
    <img class="top-img" src="dolde2.png" alt="hops">
    <p>
        Sign our petition to support local breweries. Especially small breweries have been hit very hard by
        COVID-19!<br>
        Find your local brewery here:
        <span>
            <a class="beer-links" href="https://itmustbeerlove.com/beer-in-berlin-coronavirus-pandemic/">Click Me
            </a>
        </span>

    </p>
    <div>
        <p>If you want to learn more about this issue click here</p>
        <a class="beer-links"
            href="https://www.latimes.com/world-nation/story/2020-04-20/virus-outbreak-threatens-germanys-tradition-laden-breweries">The
            LA Times</a>
        <a>|</a>
        <a class="beer-links"
            href="https://www.hopfenhelden.de/bier-und-corona-teil-1-arsch-auf-grundeis/">Hopfenhelden</a>
    </div>
    {{#if error}}
    <div class="error">Oops... Sorry! Something went wrong!</div>
    {{/if}}
</div>


<div class="container">
    <form method="POST" id="registration">

        <div class="row">
            <p>First Name</p>
            <input type="text" name="first_name" placeholder="First Name" value="">
        </div>
        <div class="row">
            <p>Last Name</p>
            <input type="text" name="last_name" placeholder="Last Name" value="">
        </div>
        <div class="row">
            <p>Email</p>
            <input type="email" name="email" placeholder="E-Mail" value="">
        </div>
        <div class="row">
            <p>Password</p>
            <input type="password" name="password" placeholder="Password" value="">
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" name="submit">SIGN UP</button>
        <p>
            If you are already a member, please</p>
        <p class="beer-links"><a href=" /login">log in</a>
        </p>
    </form>
</div>