{{#if error}}
<div class="error">Oops... Sorry! Something went wrong!</div>
{{/if}}

<div class="container">
    <div class="info signers">
        <p>We all have undersigned</p>

        {{#rows}}
        <p>{{this.first}} {{this.last}}</p>
        {{/rows}}

    </div>
</div>