<div class="petition">
    <h3>Thank you for signing this petition!</h3>
    {{#if error}}
    <div class="error">Oops... Sorry! Something went wrong!</div>
    {{/if}}
</div>



<div class="container">
    <div>
        {{#if signature}}
        <img class="signature" src="{{signature}}" alt="your signature">
        {{/if}}
        <p><a href="/signers">See all signers{{countSigners}}</a></p>
    </div>
</div>