<div class="petition">
    <img class="top-img" src="dolde2.png" alt="hops">
    <h3>Thank you for signing this petition!</h3>
    <p>And supporting your local Brewery</p>
    {{#if error}}
    <div class="error">Oops... Sorry! Something went wrong!</div>
    {{/if}}
</div>
<div class="body-container">
    <div class="container">
        <div class="sign">
            {{#if signature}}
            <img class="canvas" src="{{signature}}" alt="your signature">
            {{/if}}
            <div class="logout">
                <a href="/signers">See all {{countSigners}} signers</a>
            </div>
        </div>
    </div>

    <div class="logout">
        <a href="/editprofile">Edit Profile</a>
    </div>
    <div class="logout">
        <a href="/logout">Logout</a>
    </div>
    <div class="delete-signature">
        <form action="/thanks" method="POST">
            <button type="submit" name="submit">Delete your signature</button>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>
    </div>
</div>