<div class="petition">
    <h3>Thank you for signing this petition!</h3>
    {{#if error}}
    <div class="error">Oops... Sorry! Something went wrong!</div>
    {{/if}}
</div>
<div class="body-container">
    <div class="container">
        <div>
            {{#if signature}}
            <img class="signature" src="{{signature}}" alt="your signature">
            {{/if}}
            <p class="logout">
                <a href=" /signers">See all {{countSigners}} signers</a>
            </p>
        </div>

    </div>
    <div class="logout">
        <a href="/editprofile">Edit your Profile</a>
    </div>
    <div class="logout">
        <a href="/logout">Logout</a>
    </div>
    <div class="delete-signature">
        <form action="/thanks" method="POST">
            <button type="submit" name="submit">Delete your signature</button>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>
    </div>
</div>