canvas {
    border: 1px solid black;
    background-color: rgb(141, 141, 141);
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(202, 202, 202);
    font-family: "Roboto", sans-serif;
    background-image: url(beerbar.jpg);
    object-fit: cover;
    color: rgb(240, 240, 240);
}

.top-img {
    width: 8%;
}
.img {
    /* image: url(beertop.jpg); */
    object-fit: contain;
}

.error {
    margin: 1rem auto;
    font-size: 1.5rem;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    text-align: center;
    background-color: rgba(105, 105, 105, 0.6);
    box-shadow: 0 55px 35px -25px black;
    margin: 3rem 4rem 4rem 4rem;
    color: rgb(240, 240, 240);
    border-radius: 10px;
}
.petition {
    display: block;
    justify-content: center;
    text-decoration: none;
    color: rgb(240, 240, 240);
    font-size: 2rem;
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 100%;
    opacity: 1;
    padding: 2rem;
}

.petition h3 {
    font-size: 3rem;
    margin-top: 1rem auto;
}

.body-container {
    width: 100%;
    margin: 0 auto;
}

.container {
    /* border: 1px solid blue; */
    display: flex;
    margin: 0 auto;
    top: 3rem;
}
.row {
    font-size: 1.2rem;
}

input {
    position: relative;
    width: 100%;
    padding: 0.6rem 0.8rem;
    margin: 0.3rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    position: relative;
    width: 100%;
    background-color: rgb(0, 182, 0);
    color: rgb(240, 240, 240);
    padding: 1rem 1.2rem;
    margin: 0.7rem 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5rem;
}

button:hover {
    background-color: rgb(0, 218, 0);
}
form {
    /* position: relative; */
    margin-bottom: 3rem;
}

.container a {
    display: block;
    color: black;
}

#signers {
    flex-direction: column;
    /* height: 70vh; */
    overflow: auto;
    scrollbar-color: white rgb(92, 126, 12);
    padding: 1rem;
    opacity: 1;
    width: 60vh;
}
.sign {
    width: 100%;
}

#signers li {
    font-size: 1rem;
    margin: 0.7rem auto;
    color: black !important;
    list-style: none;
    background-color: lightgray;
    width: 100%;
    border-radius: 4px;
}
.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(0, 182, 0);
    height: 2.5rem;
    margin-top: 0.8rem;
    border-radius: 4px;
    width: 50%;
    margin-bottom: 1rem;
}
.logout a {
    color: rgb(240, 240, 240);
    text-decoration: none;
    font-size: 1.5rem;
}
.logout:hover {
    background-color: rgb(0, 218, 0);
}
.delete-signature {
    margin: 0.5rem auto;
    width: 50%;
}
.canvas {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.beer-links {
    display: inline-block;
    text-decoration: none;
    color: black;
}
.beer-links:hover {
    color: rgb(240, 240, 240);
}

@media (max-width: 650px) {
    body {
        background-image: url(beertop.jpg);
        background-position: center;
    }
    .logout a {
        font-size: 1.2rem;
    }
}
